<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CRUD con Vue js</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
</head>
<body>
    <div id="app">
        <div class="container col-8">
            <p><br/></p>
            <p class="h2">Proyecto final con Vue js</p>
            <p></p>
            <div class="row">
                <div class="row">
                    <div class="col-md-8"></div>
                        <table class="table table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Celular</th>
                                    <th>Domicilio</th>
                                    <th width="130">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in items" v-bind:key="item.id">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.celular }}</td>
                                    <td>{{ item.domicilio }}</td>
                                
                                    <td class="text-center"> 
                                        <button @click="editar(item)" class="btn btn-warning btn-sm">Editar</button>
                                        <p></p>
                                        <button @click="eliminar(item)" class="btn btn-danger btn-sm">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-4 ml-4" >
                        <form>
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" v-model="input.id" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" v-model="input.nombre" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" placeholder="ejemplo@gmail.com" v-model="input.email" class="form-control">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
    
                            <div class="form-group">
                                <label>Celular</label>
                                <input type="tel" v-model="input.celular" class="form-control">
                            </div>
    
                            <div class="form-group">
                                <label>Domicilio</label>
                                <textarea class="form-control" v-model="input.domicilio"></textarea>
                            </div>
                            <button v-if="guardarbtn" @click.prevent="guardar" class="btn btn-primary">Guardar</button>
                            <button v-if="actualizarbtn" @click.prevent="actualizar(input.id)" class="btn btn-primary">Actualizar</button>
                            <button @click.prevent="borrar" class="btn btn-info">Borrar</button>
                        </form>
                        <p><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="app.js"></script>
</body>
</html>